<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ vm.room }}">
  <ion-content class="padding">

  <div class="card timer-card">
    <div class="item">
      <timer ng-show="vm.start" autostart="false" interval="1000">{{ mminutes }}:{{ sseconds }}</timer>
      <fake>--:--</fake>
    </div>
  </div>

  <div class="button-bar">
    <button ng-disabled="vm.start" ng-click="startCountdown()" class="button button-block button-balanced button-start">
      <i class="ion-ios-color-wand-outline"></i>
      Commencer
    </button>

    <button ng-disabled="!vm.start || vm.finish" ng-click="finishCountdown()" class="button button-block button-positive">
      <i class="ion-checkmark"></i>
      Terminé
    </button>
  </div>

  <div class="hr"></div>

  <div class="card padding">

    <ul class="list">

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Mini-bar vide
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Télévision HS
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Problème de plomberie
      </li>

    </ul>

    <button ng-click="alert" class="button button-block button-energized">
      <i class="ion-speakerphone"></i>
      <span>Rapport</span>
      <span>Merci</span>
    </button>

  </div>


  </ion-content>
</ion-view>
