<ion-view view-title="Chambres">
  <ion-content>

    <div class="card">

      <div class="item item-divider">Etage 1</div>

      <div class="row">
        <div class="col">
          <a href="#/tab/rooms/101">
            <div class="col-room positive-bg positive-border">101</div>
          </a>
        </div>
        <div class="col">
          <a href="#/tab/rooms/102">
            <div class="col-room positive-bg positive-border">102</div>
          </a>
        </div>
        <div class="col">
          <a href="#/tab/rooms/103">
            <div class="col-room positive-bg positive-border">103</div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a href="#/tab/rooms/104">
            <div class="col-room assertive-bg assertive-border">104</div>
          </a>
        </div>
        <div class="col">
          <a href="#/tab/rooms/105">
            <div class="col-room assertive-bg assertive-border">105</div>
          </a>
        </div>
        <div class="col">
          <a href="#/tab/rooms/106">
            <div class="col-room positive-bg positive-border">106</div>
          </a>
        </div>
      </div>

    </div>

    <div class="card">

      <div class="item item-divider">Etage 2</div>

      <div class="row">
        <div class="col">
          <div class="col-room occuped assertive-bg assertive-border">201</div>
        </div>
        <div class="col">
          <a href="#/tab/rooms/202">
            <div class="col-room positive-bg positive-border">202</div>
          </a>
        </div>
        <div class="col">
          <a href="#/tab/rooms/203">
            <div class="col-room positive-bg positive-border">203</div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="col-room occuped assertive-bg assertive-border">204</div>
        </div>
        <div class="col">
          <a href="#/tab/rooms/205">
            <div class="col-room positive-bg positive-border">205</div>
          </a>
        </div>
        <div class="col">
          <div class="col-room occuped assertive-bg assertive-border">206</div>
        </div>
      </div>

    </div>

    <div class="card">

      <div class="item item-divider">Etage 3</div>

      <div class="row">
        <div class="col">
          <a href="#/tab/rooms/301">
            <div class="col-room assertive-bg assertive-border">301</div>
          </a>
        </div>
        <div class="col">
          <a href="#/tab/rooms/302">
            <div class="col-room assertive-bg assertive-border">302</div>
          </a>
        </div>
        <div class="col">
          <a href="#/tab/rooms/303">
            <div class="col-room assertive-bg assertive-border">303</div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="col-room occuped assertive-bg assertive-border">304</div>
        </div>
        <div class="col">
          <a href="#/tab/rooms/305">
            <div class="col-room positive-bg positive-border">305</div>
          </a>
        </div>
        <div class="col">
          <a href="#/tab/rooms/306">
            <div class="col-room positive-bg positive-border">306</div>
          </a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
