<ion-view view-title="Hestia">
  <ion-content class="padding">
    <ion-item class="item-remove-animate item-avatar">
      <img ng-src="http://api.randomuser.me/portraits/thumb/women/55.jpg">
      <div>
        <span ng-click="fakeNotif()">
          Bienvenue, Carole Durand
        </span>
      </div>
    </ion-item>

    <div class="list card">
      <div class="item item-divider">Itinéraire conseillé</div>

      <div class="item item-body">
        <div class="row">
          <div class="col col-room dark-bg dark-border text-center" ng-if="!ui.finishedRoom">104</div>
          <div class="col col-room dark-bg dark-border text-center">105</div>
          <div class="col col-room dark-bg dark-border text-center">301</div>
          <div class="col col-room dark-bg dark-border text-center">302</div>
          <div class="col col-room dark-bg dark-border text-center" ng-if="ui.finishedRoom">303</div>
        </div>
      </div>

    </div>

    <div class="list card" ng-show="ui.number > 0">
      <div class="item item-divider">Messages</div>

      <div class="item item-body item-msg item-msg-1 row" ng-click="closeAlert(1)">
        <div class="col col-90">
          Merci de faire attention à la chambre 404, <b>client VIP</b>.
        </div>
        <div class="col col-center">
          <i class="ion-close"></i>
        </div>
      </div>

      <div class="item item-body item-msg item-msg-2 row" ng-click="closeAlert(2)">
        <div class="col col-90">
          Attention ! Le client Choubert de la 301 est allergique au coton.
        </div>
        <div class="col col-center">
          <i class="ion-close"></i>
        </div>
      </div>

      <div class="item item-body item-msg item-new-msg item-msg-3 row" ng-show="ui.faked" ng-click="closeAlert(3)">
        <div class="col col-90">
          Mme Durand, veuillez passer au bureau de votre superviseur dans les plus brefs délais.
        </div>
        <div class="col col-center">
          <i class="ion-close"></i>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
