<ion-view view-title="Hestia">
  <ion-content class="padding">
    <ion-item class="item-remove-animate item-avatar">
      <img ng-src="http://api.randomuser.me/portraits/thumb/women/55.jpg">
      <div>
        <span ng-click="fakeNotif()">
          Bienvenue, Carole Durand
        </span>
      </div>
    </ion-item>

    <div class="list card">
      <div class="item item-divider">Messages</div>

      <div class="item item-body">
        <div>
          Merci de faire attention à la chambre 404, <b>client VIP</b>.
        </div>
      </div>

      <div class="item item-body">
        <div>
          Attention ! Le client Choubert de la 301 est allergique au coton.
        </div>
      </div>

      <div class="item item-body item-new-msg" ng-show="ui.number === 3">
        <div>
          Mme Durand, veuillez passer au bureau de votre superviseur dans les plus brefs délais.
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
